.App {
  text-align: center;
}

body {
  background: #eee;
}

.course-card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.topRight {
  position: absolute;
  right: 2px;
  top: 2px;
}

.dropdown-toggle::after {
  content: none;
}

.table-layout {
  table-layout: fixed;
}

.td-highlight {
  cursor: pointer;
}

.nav-color {
  background-color: #0c2340;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  padding-right: 5px;
}

form div button {
  margin: 5%;
}

div.confirm-modal {
  margin: 2%;
}

div.confirm-modal button {
  margin: 5px;
}
